<!DOCTYPE html>
<html>
<head>
  <title>ItalianCapCodes</title>
  <%= stylesheet_link_tag    "italian_cap_codes/application", media: "all" %>
  <%= javascript_include_tag "italian_cap_codes/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
